run = "cowsay Configure me!"
modules = ["dotnet-7.0", "angular-node-20", "bun-1.1", "bun-1.0", "cpp-clang14", "dart-3.3", "dart-3.2", "dart-2.18", "deno-1", "elixir-1_15", "elixir-1_16", "go-1.21", "go-1.20", "go-1.19", "gcloud", "haskell-ghc9.6", "haskell-ghc9.0", "haskell-ghc9.4", "lua-5.2", "nix", "nodejs-19", "nodejs-16", "nodejs-14", "php-8.1", "python-3.9", "python-3.8", "docker", "python-with-prybar-3.10", "nodejs-with-prybar-18", "zig-0.11", "pyright-extended", "web", "vue-node-18", "svelte-kit-node-20", "rust-stable", "rust-nightly", "ruby-3.2", "ruby-3.1", "replit-rtld-loader", "r-4.2", "qbasic", "swift-5.6", "swift-5.8", "typescript-language-server", "vue-node-20", "python-3.10", "python-3.11", "php-8.2", "haskell-ghc9.2", "bash", "c-clang14", "dart-3.4", "hermit-0.38.2", "nodejs-20", "nodejs-18", "python-3.12", "r-4.3"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cowsay Configure me!"]
