run = "cowsay Configure me!"
modules = ["nix", "dotnet-7.0", "angular-node-20", "bun-1.0", "c-clang14", "clojure-1.11", "dart-3.4", "dart-3.2", "dart-3.3", "deno-1", "elixir-1_15", "lua-5.2", "java-graalvm22.3", "hermit-0.38.2", "haskell-ghc9.4", "gcloud", "go-1.19", "go-1.20", "haskell-ghc9.6", "go-1.21", "docker", "python-with-prybar-3.10", "nodejs-with-prybar-18", "zig-0.11", "pyright-extended", "web", "vue-node-18", "vue-node-20", "replit-rtld-loader", "r-4.2", "r-4.3", "qbasic", "python-3.11", "python-3.12", "python-3.8", "python-3.9", "php-8.1", "nodejs-14", "nodejs-16", "nodejs-18", "nodejs-19", "nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cowsay Configure me!"]
